{
  "printWidth": 80,
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "all",
  "parser": "flow",
  "semi": false,
  "arrow-body-style": [
    "error",
    "always"
  ],
  "bracketSpacing": false,
  "arrowParens": "always"
}